<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico">
</head>
<body>
<ul class="link-ul">
    <li class="link-li"><a href="">热门</a></li>
    <li class="link-li"><a href="">java</a></li>
    <li class="link-li"><a href="">python</a></li>
    <li class="link-li"><a href="">前端</a></li>
    <li class="link-li"><a href="">架构</a></li>
    <li class="link-li"><a href="">区块链</a></li>
    <li class="link-li"><a href="">数据库</a></li>
    <li class="link-li"><a href="">人工智能</a></li>
    <li class="link-li"><a href="">安全</a></li>
    <li class="link-li"><a href="">云计算/大数据</a></li>
    <li class="link-li"><a href="">物联网</a></li>
</ul>
</body>
</html>